/**********************************************************************************************************************
********** general
***********************************************************************************************************************/

@font-face {
    font-family: 'PTSansBold';
    src: url("../source/fonts/PTSansBold.woff") format("woff"), url("../source/fonts/PTSansBold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansRegular';
    src: url("../source/fonts/PTSansRegular.woff") format("woff"), url("../source/fonts/PTSansRegular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    font-family: 'PTSansRegular', sans-serif;
}

html, body {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
}

a, button {
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-appearance: none;
}

a:hover {
    text-decoration: none;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input:focus, text:focus {
    outline: none;
}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}

textarea {
    resize: none;
}

textarea:focus::-webkit-input-placeholder {color: transparent;}
textarea:focus::-moz-placeholder {color: transparent;}
textarea:focus:-moz-placeholder {color: transparent;}
textarea:focus:-ms-input-placeholder {color: transparent;}

.button-orange {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    background: #fc7214;
    font-family: 'PTSansBold', sans-serif;
}
.button-orange:hover {
    background: #32373b;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}
h1, h2, h3, h4 {
    font-weight: 100;
}
h1 {

}

h2 {
    font-family: 'PTSansBold', sans-serif;
    font-size: 1.928571428571429em;
}

h3 {
    font-family: 'PTSansBold', sans-serif;
}

h4 {
    font-family: 'PTSansBold', sans-serif;
    font-size: 1.071428571428571em;
}

.image-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
    margin: 0;
}
.image-wrap img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 300px;
}

.wrapper-inner {
    display: block;
    width: 100%;
    max-width: 1230px;
    position: relative;
    margin: 0 auto;
}
.wrapper-inner:after, .clearfix:after {
    content: '';
    display: block;
    clear: both;
}

section {
    display: block;
    margin-top: 20px;
}

.checkbox-label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox-label {
    font-family: 'PTSansBold', sans-serif;
    color: #ffffff;
    margin-right: 10px;
}
.checkbox-label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    background: #ffffff;
}
input:checked + .checkbox-label:before {
    background: #ffffff url('../source/images/checkbox-ok.png') no-repeat center;
}

input[type='radio'], input[type='checkbox'] {
    display: none;
}

.slide:focus {
   outline: none;
}

/* custom select */

.custom-select {
    position: relative;
    cursor: pointer;
}
.custom-select ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
}
.custom-select-list ul, .header-select ul {
    left: 15px;
    background: #f3f3f3;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
}
.custom-select ul li, .header-select ul li {
    display: block;
}
.custom-select ul li.chosen {
    opacity: 0.5;
    cursor: not-allowed;
}
.custom-select ul li:hover {
    color: #fc7214;
}
.custom-select ul li.chosen:hover {
    color: inherit;
}

.custom-select-list, .header-select {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

.custom-select-list .current-value, .header-select .current-value {
    display: inline-block;
    vertical-align: middle;
    font-family: 'PTSansBold', sans-serif;
    font-size: 1.285714285714286em;
    line-height: 1;
}

.custom-select-list .triangle, .header-select .triangle {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 0;
    top: 10px;
}
.custom-select-list.active .triangle {
    border-top: none;
    border-bottom: 5px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.custom-select label {
    display: none;
}

/**********************************************************************************************************************
********** header
***********************************************************************************************************************/

/* header-top */
.header-top {
    background: #f3f3f3;
}
.header-top .wrapper-inner {
    display: flex;
    justify-content: space-between;
}
.header-top .wrapper-inner:after {
    display: none;
}
.header-top .select-city {
    width: 130px;
}
.header-top .select-lang {
    width: 150px;
}
.header-top .select-currency {
    width: 110px;
}

.header-top .current-value {
    display: inline-block;
    font-size: 1.142857142857143em;
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-top .select-city .current-value {
    max-width: 60px;
}
.header-top .select-lang .current-value {
    max-width: 85px;
}
.header-top .select-currency .current-value {
    max-width: 50px;
}
.header-top .header-select .triangle {
    position: static;
    display: inline-block;
    margin-bottom: -2px;
    margin-left: 5px;
}
.header-top .header-select.active {
    background: #fc7214;
}
.header-top .header-select.active .icon, .header-top .header-select.active .triangle {
    opacity: 0;
}
.header-top .header-select.active .current-value {
    color: #ffffff;
}
.header-top .header-select ul {
    width: 100%;
    left: 0;
    background: #fc7214;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
    top: 42px;
}
.header-top .header-select ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.142857142857143em;
    line-height: 1;
    padding-left: 15px;
    margin-bottom: 8px;
    color: #ffffff;
    font-family: 'PTSansBold', sans-serif;
}
.header-top .header-select ul li:hover {
    text-decoration: underline;
}
.header-select .icon {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
}

nav .mobile-links {
    display: none;
}
nav ul li {
    padding: 0 10px;
}
nav ul li a {
    font-family: 'PTSansBold', sans-serif;
    color: #656565;
    font-size: 1.142857142857143em;
    text-decoration: underline;
    line-height: 52px;
}
nav ul li a:hover {
    color: #000000;
}

/* header-info */
.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo {
    display: block;
    width: 270px;
}
.header-info .promo-text {
    display: block;
    width: 300px;
    text-align: justify;
}
.promo-text a {
    color: #fc7214;
}

.header-info .phone-number {
    font-size: 1.785714285714286em;
    text-decoration: none;
}
.header-info .phone-number span {
    font-size: inherit;
    color: #fc7214;
}

.add-object {
    padding: 15px 25px 15px 60px;
    font-size: 1.428571428571429em;
    position: relative;
}
.add-object:before {
    content: '';
    display: block;
    width: 19px;
    height: 22px;
    background: transparent url('../source/images/icon-add-object.png') no-repeat;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 30px;
}

/* header-bottom */
.burger {
    display: none;
}
.header-bottom .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    width: calc(100% - 275px);
}
.header-bottom .categories li {
    position: relative;
    padding-right: 5px;
}
.header-bottom .categories li a {
    font-family: 'PTSansBold', sans-serif;
    font-size: 1.4em;
    line-height: 1;
}
.header-bottom .categories li a:hover {
    color: #d46c14;
}
.header-bottom .categories li span {
    font-family: 'PTSansBold', sans-serif;
    font-size: 0.7em;
    color: #94999b;
    position: absolute;
    top: 3px;
    left: 100%;
}
.header-bottom .make-application {
    display: block;
    float: right;
    font-size: 1.4em;
}
.make-application {
    font-family: 'PTSansBold', sans-serif;
    color: #fc7214;
    text-decoration: underline;
    cursor: pointer;
}
.make-application:hover {
    text-decoration: none;
    color: #000000;
}
.make-application:active {
    color: #d46c14;
}

/**********************************************************************************************************************
********** footer
***********************************************************************************************************************/

footer[role='contentinfo'] {
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #f3f3f3 url('../source/images/background-footer.png') no-repeat 80% bottom;
    background-size: auto 110%;
    padding: 35px 0;
}
.footer-column {
    display: block;
    width: 430px;
    float: left;
}

.copyrights {
    font-family: 'PTSansBold', sans-serif;
    color: #32373b;
    margin-bottom: 25px;
}

.footer-contacts li, .footer-contacts li a {
    color: #32373b;
}
.footer-contacts li .phone-number {
    text-decoration: none;
}

footer[role='contentinfo'] .social-links {
    display: block;
    width: 100%;
    margin-top: 20px;
}
.social-links li {
    margin-right: 25px;
}
.social-links li:last-child {
    margin-right: 0;
}
.social-links li a {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
}
.social-links li a img {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.social-links li a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

footer[role='contentinfo'] .categories li {
    display: block;
    margin-bottom: 10px;
}
footer[role='contentinfo'] .categories li a {
    font-family: 'PTSansBold', sans-serif;
    color: #32373b;
    font-size: 1.214285714285714em;
    line-height: 1.2;
}
footer[role='contentinfo'] .categories li a:hover {
    color: #d46c14;
}
footer[role='contentinfo'] .make-application {
    font-size: 1.214285714285714em;
}
footer[role='contentinfo'] .make-application:hover {
    color: #32373b;
}

footer[role='contentinfo'] .promo-text {
    display: block;
    width: 100%;
    float: left;
    margin-top: 40px;
}


/**********************************************************************************************************************
********** main page
***********************************************************************************************************************/

.banner {
    display: block;
    width: 100%;
    position: relative;
    opacity: 0;
    text-align: center;
}
.banner .slick-track {
    position: static;
}
.banner .slide {
    width: 100%;
    height: 390px;
    position: relative;
    overflow: hidden;
}
.banner .slide img {
    display: block;
    width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 960px);
}
.banner .slider-controls {
    display: block;
    width: 100%;
    height: 58px;
    max-width: 1230px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.banner-control {
    display: block;
    width: 58px;
    height: 58px;
    background: transparent url('../source/images/sprite-slider.png') no-repeat left center;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.6;
    cursor: pointer;

}
.banner-control-left {
    left: 0;
}
.banner-control-right {
    background-position: right center;
    right: 0;
}
.banner-control:hover {
    opacity: 1;
}

.banner .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 73px;
    font-size: 0;
}
.banner .slick-dots li {
    padding: 8px 2px;
    background: #f8f8f8;
}
.banner .slick-dots li:first-child {
    padding-left: 10px;
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
.banner .slick-dots li:last-child {
    padding-right: 10px;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}
.banner .slick-dots li button {
    display: block;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #32373b;
    font-size: 0;
    color: transparent;
    border: 2px solid #32373b;
}
.banner .slick-dots li button:hover {
    background: #ffffff;
    border: 2px solid #32373b;
}
.banner .slick-dots li.slick-active button {
    background: #fc7214;
    border: 2px solid #fc7214;
}

/* tabs main */

.tabs-main {
    text-align: center;
    margin: 25px 0 20px;
}
.tabs-main h2 {
    color: #34393d;
    border-bottom: 2px dashed transparent;
    margin: 0 10px;
}
.tabs-main a {
    font-family: inherit;
    font-size: inherit;
    color: #fc7214;
    border-bottom: 2px dashed #fc7214;
    text-decoration: none;
}
.tabs-main a.active:hover {
    color: #34393d;
    border-bottom: 2px dashed #34393d;
}

/* filters */

.filters {
    background: #32373b url('../source/images/background-filter.jpg') no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 35px 40px;
    position: relative;
}
.filters fieldset {
    display: block;
    float: left;
    border: none;
    margin: 15px 0;
    height: 43px;
}
.filters fieldset br {
    display: none;
}
.custom-select-form {
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 11px 30px 12px 20px;
    height: 43px;
}
.custom-select-form.active {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.custom-select-form .current-value {
    font-family: 'PTSansBold', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-select-form .triangles {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
}
.custom-select-form .triangles:before, .custom-select-form .triangles:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.custom-select-form .triangles:before {
    border-bottom: 5px solid #000000;
    top: 14px;
}
.custom-select-form .triangles:after {
    border-top: 5px solid #000000;
    bottom: 14px;
}
.custom-select-form.active .triangles:before {
    top: 17px;
}
.custom-select-form.active .triangles:after {
    bottom: 17px;
}
.custom-select-form ul {
    background: #ffffff;
    width: 100%;
    left: 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 10px 0;
}
.custom-select-form ul li {
    padding: 5px 30px 5px 20px;
}
.filter-location {
    width: 55%;
}
.filter-location .custom-select-form {
    display: block;
    width: 47.5%;
    float: left;
}
.filter-location .custom-select-form:last-of-type {
    margin-left: 5%;
}

.filter-rooms {
    width: 45%;
    text-transform: uppercase;
    color: #fc7214;
    font-family: 'PTSansBold', sans-serif;
    text-align: right;
    line-height: 40px;
}
.filter-rooms .checkbox-label:before {
    background: #ffffff;
    margin-left: 10px;
}

.filter-duration {
    width: 22%;
}
.filter-duration .radio-label {
    display: inline-block;
    height: 43px;
    line-height: 39px;
    text-transform: uppercase;
    font-family: 'PTSansBold', sans-serif;
    color: #ffffff;
    padding: 0 15px;
    border: 2px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.filter-duration input:checked + .radio-label {
    color: #fc7214;
    border: 2px solid #fc7214;
}
.filter-duration input:checked + .radio-label:hover {
    border: 2px solid #ffffff;
}
.filter-cost {
    width: 36%;
    text-transform: uppercase;
    font-family: 'PTSansBold', sans-serif;
    color: #ffffff;
    line-height: 43px;
}
.filter-slider {
    display: inline-block;
    width: 270px;
    vertical-align: middle;
    margin-left: 20px;
}
.filter-cost label {
    display: none;
}

.filter-material {
    width: 42%;
}
.filter-number, .filter-square, .filter-floor, .filter-dates {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'PTSansBold', sans-serif;
}
.filter-square, .filter-floor {
    padding-left: 25px;
}
.filter-number label, .filter-square label, .filter-floor label, .filter-dates label {
    display: inline-block;
    vertical-align: middle;
}
.filter-square label:first-of-type, .filter-floor label:first-of-type, .filter-dates label:first-of-type {
    margin-left: 15px;
}
.filter-number input, .filter-square input, .filter-floor input, .filter-dates input {
    display: block;
    height: 43px;
    line-height: 43px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #000000;
}
.filter-number input {
    padding: 0 20px;
}
.filter-square input, .filter-floor input, .filter-dates input {
    text-align: center;
}

.filters input::-webkit-input-placeholder {font-family: 'PTSansBold', sans-serif; text-transform: uppercase; color: #000000;}
.filters input::-moz-placeholder {font-family: 'PTSansBold', sans-serif; text-transform: uppercase; color: #000000;}
.filters input:-moz-placeholder {font-family: 'PTSansBold', sans-serif; text-transform: uppercase; color: #000000;}
.filters input:-ms-input-placeholder {font-family: 'PTSansBold', sans-serif; text-transform: uppercase; color: #000000;}

.filters input:focus::-webkit-input-placeholder {color: transparent;}
.filters input:focus::-moz-placeholder {color: transparent;}
.filters input:focus:-moz-placeholder {color: transparent;}
.filters input:focus:-ms-input-placeholder {color: transparent;}

.filter-controls {
    position: absolute;
    bottom: 35px;
    right: 40px;
    width: 39.5%;
}
.filters button[type='submit'], .more-filters {
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    line-height: 43px;
}
.filters button[type='submit'] {
    font-size: 1.428571428571429em;
    padding: 0 15px 0 50px;
    position: relative;
    margin-right: 20px;
    height: 43px;
    line-height: 39px;
    border: 2px solid #fc7214;
}
.filters button[type='submit']:before {
    content: '';
    display: block;
    width: 21px;
    height: 22px;
    background: transparent url('../source/images/icon-filters-submit.png') no-repeat;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 20px;
}
.filters button[type='submit'] span {
    color: #ffc784;
    font-size: inherit;
}
.filters button[type='submit']:hover span {
    color: #dbdbdb;
}
.more-filters span {
    font-family: 'PTSansBold', sans-serif;
    font-size: 1.142857142857143em;
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}
.more-filters .full {
    display: none;
}
.filters.active .more-filters .full {
    display: inline-block;
}
.filters.active .more-filters .short {
    display: none;
}
.more-filters span:hover {
    text-decoration: none;
    color: #fc7214;
}
.filters .additional {
    display: none;
}
.filters.active .additional {
    display: block;
}

/* filter slider */

.filter-slider {
    padding: 0;
    height: 7px;
}
.ui-rangeSlider-container {
    height: 7px;
    border: none;
    margin: 0!important;
}
.ui-rangeSlider-arrow {
    display: none;
}
.ui-rangeSlider-innerBar {
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ui-rangeSlider-bar {
    margin: 0!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fc7214;
    height: 7px;
}
.ui-rangeSlider-label {
    padding: 0;
    margin: 0;
    bottom: -6px;
    display: block;
    width: 19px;
    height: 19px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fc7214;
    border: 2px solid #32373b;
}
.ui-rangeSlider-label-value {
    position: absolute;
    width: 39px;
    text-align: center;
    left: -12px;
    top: 22px;
    font-family: 'PTSansBold', sans-serif;
    font-size: 0.8571428571428571em;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}
.ui-rangeSlider-label-inner {
    display: none;
    width: 75px;
    height: 50px;
    border: 15px solid #fc7214;
    position: absolute;
    left: -20px;
    top: 50px;
    background: #ffffff;
    z-index: 10;
}
.ui-rangeSlider-label-value.active + .ui-rangeSlider-label-inner {
    display: block!important;
}
.ui-rangeSlider-label-inner:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 5px solid #fc7214;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto;
}

/* products header */

.products-header {
    margin-bottom: 20px;
}
.sort-filter {
    float: left;
    font-family: 'PTSansBold', sans-serif;
    text-transform: uppercase;
}
.sort-filter .custom-select-list {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}
.sort-filter .custom-select-list .current-value {
    font-size: inherit;
    color: #42484d;
    line-height: inherit;
}
.sort-filter .custom-select-list .current-value:hover {
    color: #ed711d;
}
.sort-filter .custom-select-list ul {
    width: 100%;
    left: 0;
    text-transform: none;
}
.sort-filter .custom-select-list:first-of-type ul {
    width: 200px;
}
.sort-filter .custom-select-list .triangle {
    top: 8px;
}
.view-filter {
    float: right;
    font-family: 'PTSansBold', sans-serif;
    text-transform: uppercase;
}
.view-filter-grid, .view-filter-lines, .view-filter-map {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 18px;
    background: transparent url('../source/images/sprite-view-filter.png') no-repeat;
    cursor: pointer;
}

.view-filter-grid {
    margin-left: 20px;
}
.view-filter-lines {
    background-position: -48px;
}
.view-filter-map {
    background-position: -96px;
}
.view-filter-grid:hover, .view-filter-grid.active {
    background-position: -24px;
}
.view-filter-lines:hover, .view-filter-lines.active {
    background-position: -72px;
}
.view-filter-map:hover, .view-filter-map.active {
    background-position: -120px;
}

/* products list */
.products-list {
    display: none;
}
.products-list > ul {
    display: block;
    width: 100%;
}
.products-list > ul > li {
    display: block;
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 30px;
}
.products-list > ul > li:nth-child(4n) {
    margin-right: 0;
}

.product-card {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    position: relative;
}
.product-card:hover {
    -webkit-box-shadow: 0 0 5px 3px #e7e7e7;
    -moz-box-shadow: 0 0 5px 3px #e7e7e7;
    box-shadow: 0 0 5px 3px #e7e7e7;
}

.product-card .image-wrap {
    padding-top: 76%;
}
.product-card .product-mark {
    display: block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-family: 'PTSansBold', sans-serif;
    font-size: 0.7142857142857143em;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -5px;
    z-index: 1;
}
.product-card .product-mark:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 25px;
}

.product-mark.best-price {
    background: #7bb71c;
}
.product-mark.best-urgently {
    background: #d93659;
}
.product-mark.best-popular {
    background: #289cbd;
}
.product-mark.best-price:after {
    border-top: 5px solid #7bb71c;
}
.product-mark.best-urgently:after {
    border-top: 5px solid #d93659;
}
.product-mark.best-popular:after {
    border-top: 5px solid #289cbd;
}

.product-card h3 {
    display: block;
    width: 100%;
    font-family: 'PTSansBold', sans-serif;
    font-size: 1.142857142857143em;
    text-transform: uppercase;
    margin: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-card h3 a {
    font-family: inherit;
    color: inherit;
}
.product-card p {
    display: block;
    color: #32373b;
    font-family: 'PTSansBold', sans-serif;
    overflow: hidden;
    height: 38px;
}
.product-card .rate {
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
}
.product-card .rate li {
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    background: transparent url('../source/images/sprite-stars.png') no-repeat left top;
}
.product-card .rate li.empty-star {
    background-position: right top;
}

.product-card .reviews-amount {
    display: inline-block;
    vertical-align: bottom;
    color: #32373b;
    font-family: 'PTSansBold', sans-serif;
    margin-left: 15px;
    line-height: 14px;
}
.product-card .reviews-amount a {
    display: inline-block;
    vertical-align: bottom;
    font-family: inherit;
    color: #000000;
    font-size: inherit;
    line-height: inherit;
}
.product-card h3:hover, .product-card .reviews-amount a:hover {
    color: #ed711d;
}
.product-card .product-cost {
    font-family: 'PTSansBold', sans-serif;
    color: #ed711d;
    font-size: 1.785714285714286em;
    margin: 10px 0 20px;
}
.product-card .product-cost span {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
.product-card .product-details {
    height: 77px;
}
.product-card .product-details li {
    display: block;
    border-bottom: 1px solid #d4d4d4;
    padding: 3px 0;
}
.product-card .product-details li:last-child {
    border-bottom: none;
}
.product-card .product-details .parameter {
    font-family: 'PTSansBold', sans-serif;
    color: #32373b;
    float: left;
}
.product-card .product-details .value {
    font-family: 'PTSansBold', sans-serif;
    color: #32373b;
    float: right;
}
.product-card button {
    display: block;
    width: 100%;
    padding: 15px 0 15px 25%;
    line-height: 1;
    font-family: 'PTSansBold', sans-serif;
    position: relative;
    border: 2px solid #dcdcdc;
    background: none;
    margin-top: 15px;
    text-align: left;
}
.product-card button:before {
    content: '';
    display: block;
    width: 22px;
    height: 20px;
    background: transparent url('../source/images/icon-add-product.png') no-repeat;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.product-card button:hover {
    border: 2px solid #ed711d;
}
.product-card button:active:before {
    left: 30px;
}

.pagination {
    display: block;
    vertical-align: middle;
    text-align: center;
    font-family: 'PTSansBold', sans-serif;
    text-transform: uppercase;
    line-height: 25px;
    padding: 15px 0;
}
.pagination ul {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.pagination ul li {
    display: block;
    float: left;
}
.pagination ul li a {
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.pagination ul li a:hover {
    text-decoration: underline;
}
.pagination ul li a.active {
    background: #fc7214;
    color: #ffffff;
    text-decoration: none;
}

/* products map */
.products-map {
    display: none;
    width: 100%;
    height: 570px;
    border: 5px solid #ffffff;
}

/* products table */

.products-table {
    display: none;
    width: 100%;
    overflow: auto;
}
.products-table table {
    width: calc(100% - 1px);
    min-width: 1000px;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.products-table table th {
    height: 50px;
    background: linear-gradient(to bottom, #fd991b, #fd9d1c 8px, #fc7214);
    font-family: 'PTSansBold', sans-serif;
    color: #ffffff;
    border-right: 1px solid #f8f8f8;
    padding: 0 20px;
    position: relative;
}
.products-table table th:after {
    content: '';
    display: block;
    width: 5px;
    height: 25px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
    background: transparent url('../source/images/table-mark.png') no-repeat;
    z-index: 1;
}
.products-table table th:last-child {
    border-right: none;
}
.products-table table td {
    padding: 20px;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
}
.products-table table tr:nth-child(2n +1) td {
    background: #f2f2f2;
}
.products-table table td:last-child {
    border-right: 1px solid #dddddd;
}
.products-table table td .image-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 85px;
    height: 65px;
}
.products-table table td h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.products-list.active, .products-map.active, .products-table.active {
    display: block;
}


    /* news */

.news {
    background: #ffffff;
    padding: 35px 0 45px;
}
.news h2 {
    width: 185px;
    background: #ffffff;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -20px;
    text-align: center;
}

.news ul {
    border: 2px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 50px 0;
}
.news ul li {
    display: block;
    float: left;
    width: 30%;
    margin-left: 2.5%;
}
.news .image-wrap {
    width: 105px;
    height: 105px;
    float: left;
    margin-right: 8%;
}
.news h4 {
    display: block;
    padding-right: 10px;
    color: #fc7214;
    margin-bottom: 5px;
    height: 86px;
    overflow: hidden;
    text-align: justify;
}
.news h4 a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
.news h4 a:hover {
    color: #32373b;
}
.news time {
    color: #9e9e9e;
    font-size: 0.78em;
}

.news .button-orange {
    display: block;
    width: 145px;
    text-align: center;
    font-family: 'PTSansBold', sans-serif;
    text-transform: uppercase;
    padding: 12px 0;
    text-decoration: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -20px;
    outline: 10px solid #ffffff;
}

/**********************************************************************************************************************
********** media
***********************************************************************************************************************/

@media (max-width: 1230px) {
    * {
        font-size: 13px;
    }
    .wrapper-inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .news h4 {
        margin-bottom: 11px;
        height: auto;
        max-height: 77px;
        text-align: left;
    }
}

@media (max-width: 1180px) {
    .filters {
        background: #32373b;
    }
    .filter-location {
        width: 100%;
    }
    .filter-rooms {
        width: 60%;
        text-align: left;
    }
    .filter-duration {
        width: 40%;
    }
    .filter-cost {
        width: 52.5%;
    }
    .filter-material {
        width: 47.5%;
    }
    .filter-number, .filter-number input {
        width: 150px;
    }
    .filter-square, .filter-floor, .filter-dates {
        width: 350px;
    }
    .filter-square input, .filter-floor input, .filter-dates input {
        width: 100px;
    }
    .filter-controls {
        width: 46%;
    }
}

@media (max-width: 1080px) {
    .products-list > ul > li, .products-list > ul > li:nth-child(4n) {
        width: 32%;
        margin-right: 2%;
    }
    .products-list > ul > li:nth-child(3n) {
        margin-right: 0;
    }
    .header-bottom {
        position: relative;
    }
    nav .mobile-links {
        display: block;
        font-family: 'PTSansBold', sans-serif;
        color: #656565;
        font-size: 1.2em;
        line-height: 52px;
    }
    nav .mobile-links.active {
        color: #fc7214;
    }
    nav ul {
        display: none;
        padding-bottom: 10px;
    }
    nav ul li {
        display: block;
        padding: 0;
    }
    nav ul li a {
        line-height: 30px;
    }
    .burger {
        display: block;
        width: 30px;
        height: 17px;
        background: transparent url('../source/images/sprite-burger.png') no-repeat left top;
    }
    .burger.active {
        background-position: right top;
    }
    .header-bottom .make-application {
        line-height: 17px;
        float: none;
        position: absolute;
        top: 0;
        right: 10px;
    }
    .header-bottom .categories {
        display: none;
        width: 100%;
        padding-top: 20px;
    }
    .header-bottom .categories li {
        display: block;
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid #94999b;
    }
    .header-bottom .categories li:last-child {
        border-bottom: none;
    }
    .header-bottom .categories li a {
        text-decoration: none;
    }
    .header-bottom .categories li span {
        font-size: inherit;
        position: static;
        margin-left: 10px;
    }
    .header-info {
        display: block;
    }
    .header-info:after {
        content: '';
        display: block;
        clear: both;
    }
    .logo {
        float: left;
        width: 200px;
        margin-right: 25px;
    }
    .header-info .promo-text {
        float: left;
    }
    .add-object {
        padding: 10px 15px 10px 40px;
        font-size: 1.2em;
        position: absolute;
        right: 10px;
        top: 55px;
    }
    .add-object:before {
        width: 19px;
        height: 22px;
        background-size: cover;
        left: 15px;
    }
    .header-info .phone-number {
        position: absolute;
        top: 28px;
        right: 10px;
        font-size: 1.5em;
    }
}

@media (max-width: 980px) {
    .filters {
        padding-bottom: 100px;
    }
    .filter-rooms {
        width: 100%;
    }
    .filter-cost {
        width: 60%;
    }
    .filters .filter-material {
        width: 47.5%;
        margin-right: 5%;
    }
    .filter-number {
        width: 47.5%;
    }
    .filter-number label, .filter-number input {
        width: 100%;
    }
    .filter-square, .filter-floor, .filter-dates {
        width: 50%;
        padding: 0;
    }
    .filters .filter-controls {
        left: 40px;
        right: 40px;
        bottom: 30px;
        width: auto;
        margin: 0;
    }
    .footer-column {
        width: 50%;
    }
    .products-map {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .filter-cost, .filter-duration {
        width: 100%;
    }
    .filter-square, .filter-floor, .filter-dates {
        width: 100%;
        text-align: right;
        max-width: 320px;
    }
    .checkbox-label:before {
        width: 25px;
        height: 25px;
        margin: 0 5px;
    }
    .filters {
        padding-bottom: 120px;
    }
    .filters .filter-controls {
        bottom: 50px;
    }
    .products-list > ul > li, .products-list > ul > li:nth-child(4n), .products-list > ul > li:nth-child(3n) {
        width: 48%;
        margin-right: 4%;
    }
    .products-list > ul > li:nth-child(2n) {
        margin-right: 0;
    }
    .news ul li {
        width: 100%;
        margin: 0 0 25px;
        padding: 0 20px;
    }
    .news .image-wrap {
        margin-right: 20px;
    }
    .footer-column {
        width: 100%;
    }
    .wrapper {
        padding-bottom: 410px;
    }
    footer[role='contentinfo'] {
        height: 410px;
        padding-top: 20px;
    }
    footer[role='contentinfo'] .wrapper-inner .footer-column:first-of-type {
        margin-bottom: 20px;
    }
    footer[role='contentinfo'] .promo-text {
        margin-top: 20px;
    }
    footer[role='contentinfo'] .promo-text br {
        display: none;
    }
    .sort-filter, .view-filter {
        text-align: left;
        width: 100%;
        float: left;
    }
    .view-filter {
        margin-top: 10px;
    }
    .header-top .wrapper-inner {
        display: block;
    }
    .header-top .select-city, .header-top .select-lang, .header-top .select-currency, .header-top .local {
        display: inline-block;
        width: auto;
    }
    nav {
        position: absolute;
        top: 0;
        right: 0;
        background: #f3f3f3;
        padding: 0 10px 0 25px;
        -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }
    nav ul {
        padding-bottom: 20px;
    }
    nav .mobile-links {
        line-height: 50px;
    }
    .header-top .current-value {
        height: 30px;
        line-height: 30px;
        width: auto;
        max-width: none!important;
    }
    .header-top .header-select ul {
        top: 30px;
    }
    .header-top .header-select .triangle {
        margin-bottom: -1px;
    }
    .products-map {
        height: 300px;
    }
    .header-info .promo-text {
        display: none;
    }
    .add-object {
        top: 60px;
    }
    .header-info .phone-number {
        top: 35px;
    }
    .banner {
        display: none;
    }
}


@media (max-width: 480px) {
    .filters {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .filters fieldset {
        height: auto;
    }
    .filter-location .custom-select-form, .filter-number, .filters .filter-material {
        width: 100%;
        margin: 0;
    }
    .filter-location .custom-select-form:last-of-type {
        margin: 20px 0 0 0;
    }
    .filters .filter-controls {
        left: 10px;
        right: 10px;
        bottom: 20px;
    }
    .filters .filter-cost {
        margin-bottom: 25px;
    }
    .filters button[type='submit'] {
        width: 100%;
        padding-left: 28%;
        text-align: left;
    }
    .filters button[type='submit']:before {
        left: 20%;
    }
    .products-list > ul > li {
        width: 100%!important;
    }
    .wrapper {
        padding-bottom: 430px;
    }
    footer[role='contentinfo'] {
        height: 430px;
    }
    .sort-filter .custom-select {
        display: block;
        margin: 10px 0;
    }
    .sort-filter .custom-select-list .triangle {
        position: static;
        display: inline-block;
        margin-left: 5px;
    }
    .banner .note p {
        font-size: 1.2em;
        padding: 7px 10px;
    }
    .header-top .select-city, .header-top .local {
        display: block;
        width: 50%;
    }
    .header-top .select-lang, .header-top .select-currency {
        display: block;
        width: 100%;
    }
    .logo {
        width: 150px;
    }
    .add-object {
        padding: 10px 15px 10px 30px;
        font-size: 1.1em;
        top: 45px;
    }
    .add-object:before {
        width: 14px;
        height: 17px;
        left: 10px;
    }
    .header-info .phone-number {
        top: 20px;
        font-size: 1.3em;
    }
    .filters .more-filters {
        display: block;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .filters fieldset br {
        display: block;
    }
    .filter-square, .filter-floor, .filter-dates {
        text-align: left;
    }
    .filter-slider {
        width: 100%;
        margin-left: 0;
    }
    .product-card button {
        padding: 15px 0 15px 35%;
    }
    .product-card button:before {
        left: 25%;
    }
}

@media (max-width: 400px) {
    .filter-square label, .filter-floor label, .filter-dates label {
        margin-left: 0!important;
        margin-top: 10px;
    }
    .logo {
        width: 120px;
    }
    .product-card button {
        padding: 15px 0 15px 30%;
    }
    .product-card button:before {
        left: 17%;
    }

}
